<!-- <nav>
    <div class="content">
        <h1>The Analytics Dashboard</h1>
      </div>
  <a routerLink="/screen1">Screen1</a>
  <a routerLink="/screen2">Screen2</a>
  <a routerLink="/screen3">Screen3</a>
</nav> -->
<div id="header">
    <a href="/" id="logo">The Analytics Dashboard</a>
    <ul id="menu">
      <li><a routerLink="/screen1"><span>Screen1</span></a></li>
      <li><a routerLink="/screen2"><span>Screen2</span></a></li>
      <li><a routerLink="/screen3"><span>Screen3</span></a></li>
    </ul>
  </div>

<router-outlet></router-outlet>

